OGT_JDBC_URL=jdbc:postgresql://127.0.0.1:5432/onlygoodthings
OGT_DB_USER=ogt
OGT_DB_PASSWORD=ogt_dev_change_me
OGT_REDIS_URL=redis://127.0.0.1:6379
OGT_FIREBASE_PROJECT_ID=goodthings-55612
OGT_FIREBASE_CREDENTIALS=
OGT_ALLOW_DEV_TOKENS=true
PORT=8080
OGT_IOS_APP_ID=
OGT_IOS_STORE_URL=
OGT_ANDROID_SHA256=
